<a href="https://colab.research.google.com/github/madhurjagdale/EDA-Capstone-MJ/blob/main/Copy_of_Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/EDA Capstone MJ/Global Terrorism Data.csv',encoding="ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [5]:
df.info(verbose = True,null_counts = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 135 columns):
 #    Column              Non-Null Count   Dtype
---   ------              --------------   -----
 0    eventid             181691 non-null  int64
 1    iyear               181691 non-null  int64
 2    imonth              181691 non-null  int64
 3    iday                181691 non-null  int64
 4    approxdate          9239 non-null    object
 5    extended            181691 non-null  int64
 6    resolution          2220 non-null    object
 7    country             181691 non-null  int64
 8    country_txt         181691 non-null  object
 9    region              181691 non-null  int64
 10   region_txt          181691 non-null  object
 11   provstate           181270 non-null  object
 12   city                181257 non-null  object
 13   latitude            177135 non-null  float64
 14   longitude           177134 non-null  float64
 15   specificity         181685 non-null  float64
 16   vicinity            181691 non-null  int64
 17   location            55495 non-null   object
 18   summary             115562 non-null  object
 19   crit1               181691 non-null  int64
 20   crit2               181691 non-null  int64
 21   crit3               181691 non-null  int64
 22   doubtterr           181690 non-null  float64
 23   alternative         29011 non-null   float64
 24   alternative_txt     29011 non-null   object
 25   multiple            181690 non-null  float64
 26   success             181691 non-null  int64
 27   suicide             181691 non-null  int64
 28   attacktype1         181691 non-null  int64
 29   attacktype1_txt     181691 non-null  object
 30   attacktype2         6314 non-null    float64
 31   attacktype2_txt     6314 non-null    object
 32   attacktype3         428 non-null     float64
 33   attacktype3_txt     428 non-null     object
 34   targtype1           181691 non-null  int64
 35   targtype1_txt       181691 non-null  object
 36   targsubtype1        171318 non-null  float64
 37   targsubtype1_txt    171318 non-null  object
 38   corp1               139141 non-null  object
 39   target1             181055 non-null  object
 40   natlty1             180132 non-null  float64
 41   natlty1_txt         180132 non-null  object
 42   targtype2           11144 non-null   float64
 43   targtype2_txt       11144 non-null   object
 44   targsubtype2        10685 non-null   float64
 45   targsubtype2_txt    10685 non-null   object
 46   corp2               10117 non-null   object
 47   target2             11020 non-null   object
 48   natlty2             10828 non-null   float64
 49   natlty2_txt         10828 non-null   object
 50   targtype3           1176 non-null    float64
 51   targtype3_txt       1176 non-null    object
 52   targsubtype3        1097 non-null    float64
 53   targsubtype3_txt    1097 non-null    object
 54   corp3               1026 non-null    object
 55   target3             1175 non-null    object
 56   natlty3             1147 non-null    float64
 57   natlty3_txt         1147 non-null    object
 58   gname               181691 non-null  object
 59   gsubname            5890 non-null    object
 60   gname2              2013 non-null    object
 61   gsubname2           160 non-null     object
 62   gname3              324 non-null     object
 63   gsubname3           20 non-null      object
 64   motive              50561 non-null   object
 65   guncertain1         181311 non-null  float64
 66   guncertain2         1955 non-null    float64
 67   guncertain3         320 non-null     float64
 68   individual          181691 non-null  int64
 69   nperps              110576 non-null  float64
 70   nperpcap            112202 non-null  float64
 71   claimed             115571 non-null  float64
 72   claimmode           19083 non-null   float64
 73   claimmode_txt       19083 non-null   object
 74   claim2              1890 non-null    float64
 75   claimmode2          616 non-null     float64
 76   claimmode2_txt      616 non-null     object
 77   claim3              318 non-null     float64
 78   claimmode3          133 non-null     float64
 79   claimmode3_txt      133 non-null     object
 80   compclaim           4839 non-null    float64
 81   weaptype1           181691 non-null  int64
 82   weaptype1_txt       181691 non-null  object
 83   weapsubtype1        160923 non-null  float64
 84   weapsubtype1_txt    160923 non-null  object
 85   weaptype2           13127 non-null   float64
 86   weaptype2_txt       13127 non-null   object
 87   weapsubtype2        11542 non-null   float64
 88   weapsubtype2_txt    11542 non-null   object
 89   weaptype3           1863 non-null    float64
 90   weaptype3_txt       1863 non-null    object
 91   weapsubtype3        1693 non-null    float64
 92   weapsubtype3_txt    1693 non-null    object
 93   weaptype4           73 non-null      float64
 94   weaptype4_txt       73 non-null      object
 95   weapsubtype4        70 non-null      float64
 96   weapsubtype4_txt    70 non-null      object
 97   weapdetail          114021 non-null  object
 98   nkill               171378 non-null  float64
 99   nkillus             117245 non-null  float64
 100  nkillter            114733 non-null  float64
 101  nwound              165380 non-null  float64
 102  nwoundus            116989 non-null  float64
 103  nwoundte            112548 non-null  float64
 104  property            181691 non-null  int64
 105  propextent          64065 non-null   float64
 106  propextent_txt      64065 non-null   object
 107  propvalue           38989 non-null   float64
 108  propcomment         57959 non-null   object
 109  ishostkid           181513 non-null  float64
 110  nhostkid            13572 non-null   float64
 111  nhostkidus          13517 non-null   float64
 112  nhours              4063 non-null    float64
 113  ndays               8124 non-null    float64
 114  divert              324 non-null     object
 115  kidhijcountry       3305 non-null    object
 116  ransom              77381 non-null   float64
 117  ransomamt           1350 non-null    float64
 118  ransomamtus         563 non-null     float64
 119  ransompaid          774 non-null     float64
 120  ransompaidus        552 non-null     float64
 121  ransomnote          514 non-null     object
 122  hostkidoutcome      10991 non-null   float64
 123  hostkidoutcome_txt  10991 non-null   object
 124  nreleased           10400 non-null   float64
 125  addnotes            28289 non-null   object
 126  scite1              115500 non-null  object
 127  scite2              76933 non-null   object
 128  scite3              43516 non-null   object
 129  dbsource            181691 non-null  object
 130  INT_LOG             181691 non-null  int64
 131  INT_IDEO            181691 non-null  int64
 132  INT_MISC            181691 non-null  int64
 133  INT_ANY             181691 non-null  int64
 134  related             25038 non-null   object
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [7]:
columns_to_use = ['eventid', 'iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'success' , 'suicide' , 'attacktype1_txt' , 'targtype1_txt', 'gname' , 'weaptype1_txt' , 'nkill', 'nwound', 'propextent_txt' , 'propvalue' , 'ransompaid'  ]

In [13]:
len(columns_to_use)

17

In [15]:
columns_to_use

['eventid',
 'iyear',
 'imonth',
 'iday',
 'country_txt',
 'region_txt',
 'success',
 'suicide',
 'attacktype1_txt',
 'targtype1_txt',
 'gname',
 'weaptype1_txt',
 'nkill',
 'nwound',
 'propextent_txt',
 'propvalue',
 'ransompaid']

In [16]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [17]:
df.shape

(181691, 135)

In [18]:
df.head(2)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [19]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head(2)

Warning: Total number of columns (135) exceeds max_columns (20). Falling back to pandas display.

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,1,Assassination,NaN,NaN,NaN,NaN,14,Private Citizens & Property,68.0,Named Civilian,NaN,Julio Guzman,58.0,Dominican Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MANO-D,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,North America,Federal,Mexico city,19.371887,-99.086624,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,6,Hostage Taking (Kidnapping),NaN,NaN,NaN,NaN,7,Government (Diplomatic),45.0,"Diplomatic Personnel (outside of embassy, cons...",Belgian Ambassador Daughter,"Nadine Chaval, daughter",21.0,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23rd of September Communist League,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,Mexico,1.0,800000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [20]:
new_df = df[columns_to_use]

In [21]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   country_txt      181691 non-null  object
 5   region_txt       181691 non-null  object
 6   success          181691 non-null  int64
 7   suicide          181691 non-null  int64
 8   attacktype1_txt  181691 non-null  object
 9   targtype1_txt    181691 non-null  object
 10  gname            181691 non-null  object
 11  weaptype1_txt    181691 non-null  object
 12  nkill            171378 non-null  float64
 13  nwound           165380 non-null  float64
 14  propextent_txt   64065 non-null   object
 15  propvalue        38989 non-null   float64
 16  ransompaid       774 non-null     float64
dtypes: float64(4), int64(6), object(7)
memory usage: 23.6+ MB

In [22]:
new_df['iyear'].value_counts()

2014    16903
2015    14965
2016    13587
2013    12036
2017    10900
2012     8522
2011     5076
1992     5071
2010     4826
2008     4805
2009     4721
1991     4683
1989     4324
1990     3887
1988     3721
1984     3495
1994     3456
2007     3242
1997     3197
1987     3183
1995     3081
1996     3058
1985     2915
1983     2870
1986     2860
2006     2758
1979     2662
1980     2662
1981     2586
1982     2544
2005     2017
2001     1906
2000     1814
1978     1526
1999     1395
2002     1333
1977     1319
2003     1278
2004     1166
1998      934
1976      923
1975      740
1970      651
1974      581
1972      568
1973      473
1971      471
Name: iyear, dtype: int64

In [23]:
new_df.country_txt.nunique()

205

In [24]:
new_df.region_txt.nunique()

12

In [25]:
new_df.region_txt.unique()

array(['Central America & Caribbean', 'North America', 'Southeast Asia',
       'Western Europe', 'East Asia', 'South America', 'Eastern Europe',
       'Sub-Saharan Africa', 'Middle East & North Africa',
       'Australasia & Oceania', 'South Asia', 'Central Asia'],
      dtype=object)

In [26]:
# Unique values in type of attack
new_df.attacktype1_txt.unique()

array(['Assassination', 'Hostage Taking (Kidnapping)',
       'Bombing/Explosion', 'Facility/Infrastructure Attack',
       'Armed Assault', 'Hijacking', 'Unknown', 'Unarmed Assault',
       'Hostage Taking (Barricade Incident)'], dtype=object)

In [27]:
# getting rid of all uknown values in complete dataframe
new_df = new_df.replace(['Unknown'],None)

In [28]:
new_df['attacktype1_txt'] = new_df['attacktype1_txt'].replace(['Hostage Taking (Kidnapping)','Hostage Taking (Barricade Incident)'],['Hostage Taking','Hostage Taking'])

In [29]:
new_df.attacktype1_txt.unique()

array(['Assassination', 'Hostage Taking', 'Bombing/Explosion',
       'Facility/Infrastructure Attack', 'Armed Assault', 'Hijacking',
       'Unarmed Assault'], dtype=object)

In [30]:
new_df.targtype1_txt.unique()

array(['Private Citizens & Property', 'Government (Diplomatic)',
       'Journalists & Media', 'Police', 'Utilities', 'Military',
       'Government (General)', 'Airports & Aircraft', 'Business',
       'Educational Institution', 'Violent Political Party',
       'Religious Figures/Institutions', 'Transportation', 'Tourists',
       'NGO', 'Telecommunication', 'Food or Water Supply',
       'Terrorists/Non-State Militia', 'Other', 'Maritime',
       'Abortion Related'], dtype=object)

In [31]:
new_df.targtype1_txt.nunique()

21